<!DOCTYPE html>
<html ng-app="smJs">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.3/angular.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/config.js"></script>
		<script src="js/services.js"></script>
		<script src="js/controllers.js"></script>
		<link  href="css/style.css" rel="stylesheet" />
	</head>
	<body ng-controller="smCtrl">
		<div>Level {{lvl}}</div>
		<div ng-show="dead">Your are dead !</div>
		<div>{{sky}}</div>
		<div>{{ground}}</div>
		<input type="button" value="Jump" ng-click="jump()">
		<input type="button" value="StartGame" ng-click="run()" ng-show="newGame">
		<input type="button" value="Reset" ng-click="reset()" ng-show="dead">
	</body>
</html>
